// TODO: They aren't and shouldn't be used -> Only in Wordpress installation
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Mate SC;
  src: url(../fonts/MateSC-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-VariableFont_wdth,wght.ttf);
}
