$gold-100: #F7EBDA;
$purple-500: #66023C;
$purple-400: #842A5A;
$blue-800: #0C0B26;
$black: #000000;
$white: #FFFFFF;
$green-500: #638475;
$transparent-white: rgba(255, 255, 255, .25);
$transparent-white-light: rgba(255, 255, 255, .05);
$default-border-color: #FFFFFF1F;

$default-border-radius-small: .5rem;
$default-border-radius-medium: 1rem;
$default-border-radius-big: 1.5rem;
